.contenedor{
    background: $colorverdeprimario;
    color: $colorblanco;
}

.menu{
    background-color: #e6fde3e0;
}

.texto{
    font-family: sans-serif;
}

.titulo{
    text-align: center;
    font-size: 50px;
}

.subtitulo{
    color: $colorverde;
}

.footer{
    background: $colorverdesecundario;
    color: $colorblanco;
}