$colorverdeprimario:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(5,140,7,0.8547794117647058) 52%);
$colorverdesecundario:linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(5,140,7,0.8547794117647058) 52%);
$colorverde:green;
$colorblanco:white;
$box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
$box-shadow2: 0px 1px 10px rgba(0, 0, 0, 0.2);